* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: rgb(206, 206, 206);
}

.colors, .clear-grid {
    background-color: rgb(194, 194, 194);
    width: 126px;
    margin: 8px 0 0 -7px;
    padding: 7px 8px 7px 6px;
    border-width: 1px; /* top right bottom left */
    border-style: solid;
    border-color:rgb(126, 126, 126);
}

.content {
    display: flex;
    justify-content: center;
    margin-left: -160px;
}

.buttons-holder {
    padding: 16px;
}

.button-holder {
    padding: 8px 0;
}

.rainbow:focus {
  background: rgb(255,0,0);
  border: 1px solid rgb(126, 126, 126);
  border-radius: 2px;
  background: linear-gradient(80deg, rgba(255,0,0,0.5) 0%, rgba(255,125,0,0.5) 10%, rgba(255,255,0,0.5) 20%, rgba(125,255,0,0.5) 30%, rgba(0,255,0,0.5) 40%, rgba(0,255,255,0.5) 50%, rgba(0,0,255,0.5) 60%, rgba(125,0,255,0.5) 70%, rgba(255,0,255,0.5) 80%, rgba(255,0,125,0.5) 90%);
}

button {
    font-size: 16px;
    height: 24px;
    width: 128px;
}

.squares-container-border {
    border-width: 1px 0px 0px 1px; /* top right bottom left */
    border-style: solid;
    border-color: rgb(177, 177, 177);
    width:fit-content;
    -webkit-box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.15);
}

.squares-container > div {
    height:fit-content;
    width:fit-content;
    display: flex;
}

.squares-container > div > div {
    background-color: white;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: rgb(177, 177, 177);
}

.color-text {
    background-color:rgb(238, 238, 238);
    border: 1px solid rgb(126, 126, 126);
    border-width: 1px 1px 0px 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 24px;
    width: 126px;
    font-size: 16px;
    padding-bottom: -8px;
    
}

.picker {
    width: 128px;
    height: 64px;
    border-width: 0px 1px 1px 1px;
    border-radius: 0;
    margin-top: -4px;
}

.modes {
    border: 1px solid rgb(126, 126, 126);
    width: 140px;
    margin: 8px 0 0 -7px;
    text-align: center;
    background-color: rgb(194, 194, 194);
}

.modes > p {
    padding-top: 8px;
    font-size: 12px;
    font-weight: 900;
}

.range {
    color: rgb(77, 77, 77);
    background-color: rgb(194, 194, 194);
    width: 126px !important;
    margin: 0 0 0 -7px !important;
    padding: 7px 8px 7px 6px !important;
    border-width: 0px 1px 0px 1px; /* top right bottom left */
    border-style: solid;
    border-color: rgb(126, 126, 126);
}

output {
    display: block;
    text-align: center;
    background-color: rgb(194, 194, 194);
    width: 126px;
    margin: 8px 0 0 -7px;
    padding: 7px 8px 0px 6px;
    border-width: 1px 1px 0px 1px; /* top right bottom left */
    border-style: solid;
    border-color:rgb(126, 126, 126);

}

.size-container {
    background-color: rgb(194, 194, 194);
    width: 126px;
    margin: -16px 0 0 -7px;
    padding: 0px 8px 0px 6px;
    border-width: 1px 1px 1px 1px; /* top right bottom left */
    border-style: solid;
    border-color:rgb(126, 126, 126);
}

.just-the-square {
    
}

h1 {
    text-align: center;
    padding: 32px;
    font-size: 48px;
    font-weight: 900;
}

h6 {
    text-align: center;
}

input[type=range] {
    height: 30px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #3B3B3B;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #9E9E9E;
    height: 24px;
    width: 16px;
    border-radius: 2px;
    background: #D42649;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3B3B3B;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #3B3B3B;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #9E9E9E;
    height: 24px;
    width: 16px;
    border-radius: 2px;
    background: #D42649;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #3B3B3B;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #3B3B3B;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #9E9E9E;
    height: 24px;
    width: 16px;
    border-radius: 2px;
    background: #D42649;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3B3B3B;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #3B3B3B;
  }
  